<p>
  <b>Music session type:</b>
  <%=h @music_session_type.music_session_type %>
</p>


<%= link_to 'Edit', edit_music_session_type_path(@music_session_type) %> |
<%= link_to 'Back', music_session_types_path %>
