<% form_for(@session_type) do |f| %>
  <%= f.error_messages :class => "error", :id => nil%>

  <p>
    <%= f.label :session_type %><br />
    <%= f.text_field :session_type %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
