<h1>About Wikidiscography.com</h1>
<p>Wikidiscography.com is a hobby. 
I love learning about web development, I like using Rails, and I like sharing what I learn.
So while building this site, I occasionally post articles to 
<a href="www.wikidiscograph.blogspot.com">wikidiscography.blogspot.com</a> detailing how I solve various issues I run in to.</p>
